*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image:linear-gradient(rgba(31, 131, 170, 0.514), rgba(0,0,0,0)), url(./img/admin-small.png);
    width: 100%;
    height: 100px;
    padding: 20px;
    position:relative;
    display:flex;
    color: rgb(1, 71, 105);
    align-items: center;
    justify-content:space-between;
    
    
} 
  
  nav{
      height: 100%;
      width: 250px;
      background-color: rgb(60, 134, 153);
      position: fixed;
      top: 100px;
      left:0;
     z-index: 1;
    
  }  

  nav ul{
      list-style-type: none;
      padding: 0;
      


  }

  nav ul li{
    background-color:rgb(4, 74, 92)
    

  }

  nav ul li a{
    
    color: #fff;
    padding: 8px;
    display: block;
    text-decoration: none;
    
}

nav ul li:hover{
    background-color:rgb(80, 128, 139) ;
    transition: .3s ease all;
    
}

.title{
    color: white;
    margin-bottom: 0px;
    display: flex;
    font-size: 20px;
    font-style: italic;
}

.botao{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;

    cursor: pointer;
    transition: .3s ease all;
    
}

.botao:hover{
    background-color: rgb(189, 193, 196);
}

.botao i{
    margin-right: 5px;
}

main {
    width: 130%;
    float: right;
    text-align: center;
    margin-top: 25px;

}

div.table{
    width: 100%;
    border: darkblue;
    
}












